config = { \
        'jwtsecret': '',
        'jwtexp': 15*60, # in seconds (5 minutes)
        'jwtalgo': '',
        'cookie_secret': '',
        'refreshexp': 90, # in days
        'db_name': '',
        'db_user': '',
        'db_password': '',
        'forgot_pass_template': 'common/forgot_password.txt',
        'smtp_host': '',
        'smtp_port': 587,
        'smtp_secret': '',
        'smtp_user': '',
        'smtp_from_email_address': ''
        }
