config = { \
        'jwtsecret': '',
        'jwtexp': 15*60, # in seconds (5 minutes)
        'jwtalgo': '',
        'cookie_secret': '',
        'refreshexp': 90, # in days
        'db_name': '',
        'db_user': '',
        'db_password': '',
	'test_file_round_1': 'anli_v0.1/R1/test.jsonl',
        'test_file_round_2': 'anli_v0.1/R2/test.jsonl',
        'test_file_round_3': 'anli_v0.1/R3/test.jsonl',
        }
