config = { \
        'jwtsecret': '',
        'jwtexp': 15*60, # in seconds (5 minutes)
        'jwtalgo': '',
        'cookie_secret': '',
        'refreshexp': 90, # in days
        'db_name': '',
        'db_user': '',
        'db_password': '',
        'sagemaker_aws_access_key_id': '',
        'sagemaker_aws_secret_access_key': '',
        'sagemaker_aws_region': '',
        }
