augly>=0.1.10
aiohttp
bottle
cheroot
PyJWT>=2.0.0
numpy
pymysql
sagemaker
six
SQLAlchemy==1.3.23
torch
transformers
werkzeug
boto3
yoyo-migrations
pandas==1.3.0
sacrebleu
sklearn
git+https://github.com/facebookresearch/dynalab.git
sentencepiece
spacy
pyyaml
textflint
ujson>=4.2.0
urllib3[secure]
