#content {
  min-height: 88vh;
}

.blue-bg {
  background-color: #1283d8;
}

.blue-color {
  color: #1283d8;
}

.button-ellipse {
  border-radius: 40px;
  font-family: OpenSansSemiBold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family: OpenSansSemiBold;
}

.navbar-dark .navbar-toggler {
  border: none;
  margin-right: 8px;
}

.navbar-dark .dropdown-item:focus,
.navbar-dark .dropdown-item:hover {
  background-color: rgba(18, 131, 216, 0.1);
  color: #1283d8;
}

.card table {
  font-size: 12px;
}

.card table td,
.card table th {
  padding: 5px;
}

.context {
  background-color: rgba(108, 117, 125, 0.1);
  margin-bottom: 4px;
  padding: 10px;
}

.hypothesis {
  margin-bottom: 4px;
  padding: 10px;
}

.retracted {
  margin-bottom: 4px;
  opacity: 0.7;
  padding: 10px;
}

.correct {
  background-color: #28a745 !important;
  color: white;
}

.incorrect {
  background-color: #dc3545 !important;
  color: black;
}

.c3-tooltip-container {
  width: 200px;
}

.footer {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 20px;
}

.footer-nav-link + .footer-nav-link {
  margin-left: 25px;
}

.footer-nav-link .btn-link,
.footer-nav-link .btn-link:hover {
  color: inherit;
}

@media (min-width: 1024px) {
  .navbar .nav-item + .nav-item {
    margin-left: 32px;
  }

  .signup-nav-link {
    border: 1px solid #fff;
    border-radius: 20px;
  }
}
