#content {
  min-height: 88vh;
}

.sidebar-wrapper {
  padding: 0px;
}

.blue-bg {
  background-color: #1283d8;
}

.light-gray-bg {
  background-color: #f0f2f5;
}

.blue-color {
  color: #1283d8;
}

.gray-color {
  color: #6e6e6e;
}

.button-ellipse {
  border-radius: 40px;
  font-family: OpenSansSemiBold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family: OpenSansSemiBold;
}

.navbar-dark .dropdown-menu {
  padding: 0;
}

.navbar-dark .dropdown-item:focus,
.navbar-dark .dropdown-item:hover,
.sidebar-wrapper .nav-link:focus,
.sidebar-wrapper .nav-link:hover {
  background-color: rgba(18, 131, 216, 0.1);
  color: #1283d8;
}

.table {
  color: #6e6e6e;
  font-size: 12px;
}

.table td,
.table thead th {
  border-top: 0px;
  padding: 5px 10px;
}

.table thead th {
  border-bottom-width: 1px;
}

.hypothesis {
  margin-bottom: 4px;
  padding: 10px;
}

.retracted {
  margin-bottom: 4px;
  opacity: 0.7;
  padding: 10px;
}

.correct {
  background-color: #28a745 !important;
  color: white;
}

.incorrect {
  background-color: #dc3545 !important;
  color: black;
}

.c3-tooltip-container {
  width: 200px;
}

.footer {
  background-color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 32px 24px;
}

.footer-nav-link + .footer-nav-link {
  margin-left: 25px;
}

@media (min-width: 992px) {
  .navbar .nav-item + .nav-item {
    margin-left: 32px;
  }

  .signup-nav-link {
    border: 1px solid #fff;
    border-radius: 20px;
  }
}

div.recharts-wrapper
  .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis
  g.recharts-layer.recharts-cartesian-axis-tick:first-child {
  display: none;
}
