.taskCard {
  cursor: pointer;
  margin-bottom: 30px;
}

.taskCard.card {
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  box-shadow: 2px 2px 5px 0px #b3b3b3c7;
}

.taskCard:hover {
  background-color: #f5f5f5;
}

.taskCard .card-body {
  padding: 0px;
}

.taskCard .card-text {
  margin: 10px;
  min-height: 120px;
}

.taskCard table {
  color: #6e6e66;
  margin: 0px;
}

.taskCard table td {
  padding: 10px;
}

.taskCard table td:last-child {
  text-align: right;
}

.taskCard .taskHeader {
  height: 30px;
  margin: 20px 10px;
}

.taskCard .taskHeaderRight {
  border-right: 1px solid white;
}

.taskCard .taskHeaderLeft {
  border-left: 1px solid white;
}

.taskCard .card-footer {
  padding: 10px;
}

.jumboSlider {
  background-color: #fff;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.hideJumbo {
  height: 0px;
  margin: 20px;
  max-height: 0px;
  padding: 0px;
}

.homeCardgroup {
  padding-bottom: 64px;
}

.homeCardgroup .header {
  color: inherit;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .homeCardgroup {
    padding-bottom: 128px;
  }
}
