.taskCard {
  margin: 0 10px;
}

.taskCard.card {
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  box-shadow: 2px 2px 5px 0px #b3b3b3c7;
}

.taskCard:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.taskCard .card-body {
  padding: 0px;
}
.taskCard .card-text {
  margin: 10px;
  min-height: 120px;
}
.taskCard table {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.taskCard table tbody tr {
  margin: 0px;
  padding: 0px;
}
.taskCard table tbody tr td {
  font-size: 12px;
  padding: 10px;
  margin: 0px;
  text-align: right;
}
.taskCard table td:first-child {
  text-align: left;
}
.taskCard .taskHeader {
  margin: 20px 10px;
  color: #1283d8;
  height: 30px;
}
.taskCard .taskHeaderRight {
  border-right: 1px solid white;
}
.taskCard .taskHeaderLeft {
  border-left: 1px solid white;
}
.taskCard .card-footer {
  padding: 10px;
}
.jumboSlider {
  overflow: hidden;
  transition: max-height 1s ease-out;
  height: auto;
  max-height: 600px;
}
.hideJumbo {
  height: 0px;
  margin: 20px;
  padding: 0px;
  max-height: 0px;
}

.jumbotron {
  background-color: #ffffff;
}

h1 {
  font-family: OpenSansLight;
  text-align: center;
  color: #6e6e6e;
}
