# Copyright (c) Facebook, Inc. and its affiliates.

build_config = {
    "aws_access_key_id": "",
    "aws_secret_access_key": "",
    "aws_region": "",
    "sagemaker_role": "",
    "gateway_url": "",
    "queue_dump": "queue.dump",
}
