body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSansRegular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6e6e6e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url(./fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'OpenSansLight';
  src: url(./fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url(./fonts/OpenSans-Regular.ttf);
}

